.Login {
    background-color: white;
    border: 2px solid var(--primary);
    border-radius: 20px;
    height: 440px;
    padding: 20px;
    text-align: center;
    width: 620px;
}

.Login .col {
    height: 100%;
    justify-content: center;
}

.Login .row {
    justify-content: center;
    padding-bottom: 10px;
}

.Login .col h3 {
    padding-bottom: 40px;
}

.Login h2.thin {
    font-weight: normal;
}

.Login .form-inner {
    margin-block: 20px;
}

.Login p.error {
    color: red;
}

.Login form input[type=submit] {
    background: linear-gradient(95deg, var(--primary) 0%, var(--secondary) 50%, var(--primary) 100%);
    background-size: 200% 200%;
    border: none;
    border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    transition: .7s ease-in-out;
    width: 130px;
}

.Login form input[type=submit]:hover {
    background-position: 75% 100%;
}